{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5 offset-1">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Weather in your city</h1>
                {{ form.name }}
                <br>
                <input type="submit" name="send" value="Get" class="mt-w btn btn-danger">
            </form>
        </div>
        <div class="col-4 offset-1">
            <h1>Information</h1>

            {% for info in all_info %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                        <b>City:</b> {{ info.city }}<br>
                        <b>Temperature:</b> {{ info.temp }} <sup>o</sup> <br>
                    </div>
                    <div class="col-2 offset-1">
                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Photo">
                    </div>
                </div>
                <form action="{% url 'detail' info.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Detail</button>
                </form>

            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}